
li{
    text-align:center;
}

 h1{
    padding: 40px;
    font-family: "Arial", sans-serif;
    text-align:center;
    color:white;
  
 }

 section {
       
    padding: 40px;
    text-align: center;
    color:white;
 }

 section {
    padding: 40px;
    text-align: center;
    color:white;
}

 form{
    max-width: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
 }



.manga {
     text-align: center;
 }

  img{
  float: right;
  

}
